@use '../_shared.scss' as shared;

/* Right-side floating actions */
#rightside {
  position: fixed;
  right: -48px;
  bottom: 40px;
  z-index: 100;
  opacity: 0;
  transition: all 0.5s;

  &.rightside-show {
    opacity: 0.8;
    transform: translate(-58px, 0);
  }

  #rightside-config-hide {
    height: 0;
    opacity: 0;
    transition: transform 0.4s;
    transform: translate(45px, 0);

    &.show {
      height: auto;
      opacity: 1;
      transform: translate(0, 0);
    }

    &.status {
      height: auto;
      opacity: 1;
    }
  }

  > div {
    > button,
    > a {
      display: block;
      margin-bottom: 5px;
      width: 35px;
      height: 35px;
      background-color: var(--btn-bg);
      color: var(--btn-color);
      text-align: center;
      font-size: 16px;
      line-height: 35px;
      border-radius: 5px;

      &:hover {
        background-color: var(--btn-hover-color);
      }

      i {
        vertical-align: baseline;
      }
    }
  }

  #mobile-toc-button {
    display: none;

    @media screen and (max-width: shared.$sidebar-breakpoint) {
      display: block;
    }
  }

  #hide-aside-btn {
    @media screen and (max-width: shared.$sidebar-breakpoint) {
      display: none;
    }
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
