.container {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
}
.container a {
  color: #49b1f5;
}
.container a:hover {
  text-decoration: underline;
}
.container img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  -webkit-transition: filter 375ms ease-in 0.2s;
  -moz-transition: filter 375ms ease-in 0.2s;
  -o-transition: filter 375ms ease-in 0.2s;
  -ms-transition: filter 375ms ease-in 0.2s;
  transition: filter 375ms ease-in 0.2s;
  border-radius: 6px;
}
.container p {
  margin: 0 0 16px;
}
.container iframe {
  margin: 0 0 20px;
}
.container kbd {
  margin: 0 3px;
  padding: 3px 5px;
  border: 1px solid #b4b4b4;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 2px 1px 0 rgba(255,255,255,0.6) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 2px 1px 0 rgba(255,255,255,0.6) inset;
  color: #34495e;
  white-space: nowrap;
  font-weight: 600;
  font-size: 0.9em;
  font-family: Monaco, 'Ubuntu Mono', monospace;
  line-height: 1em;
  border-radius: 3px;
}
.container ol ol,
.container ul ol,
.container ol ul,
.container ul ul {
  padding-left: 20px;
}
.container ol li,
.container ul li {
  margin: 4px 0;
}
.container ol p,
.container ul p {
  margin: 0 0 8px;
}
.container > :last-child {
  margin-bottom: 0 !important;
}
.container hr {
  margin: 20px 0;
}
#post .tag_share:after {
  display: block;
  clear: both;
  content: '';
}
#post .tag_share .post-meta__tag-list {
  display: inline-block;
}
#post .tag_share .post-meta__tags {
  display: inline-block;
  margin: 8px 8px 8px 0;
  padding: 0 12px;
  width: fit-content;
  border: 1px solid #228ec3;
  border-radius: 12px;
  color: #228ec3;
  font-size: 0.85em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#post .tag_share .post-meta__tags:hover {
  background: #228ec3;
  color: var(--white);
}
#post .tag_share .post-share {
  display: inline-block;
  float: right;
  margin: 8px 0 0;
  width: fit-content;
}
#post .tag_share .post-share .social-share {
  font-size: 0.85em;
}
#post .tag_share .post-share .social-share .social-share-icon {
  margin: 0 4px;
  width: 1.85em;
  height: 1.85em;
  font-size: 1.2em;
  line-height: 1.85em;
}
#post .post-copyright {
  position: relative;
  margin: 40px 0 10px;
  padding: 10px 16px;
  border: 1px solid var(--light-grey);
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  -ms-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 6px;
}
#post .post-copyright:before {
  position: absolute;
  top: 2px;
  right: 12px;
  color: #228ec3;
  content: '\f1f9';
  font-size: 1.3em;
}
#post .post-copyright:hover {
  -webkit-box-shadow: 0 0 8px 0 rgba(232,237,250,0.6), 0 2px 4px 0 rgba(232,237,250,0.5);
  box-shadow: 0 0 8px 0 rgba(232,237,250,0.6), 0 2px 4px 0 rgba(232,237,250,0.5);
}
#post .post-copyright .post-copyright-meta {
  color: #228ec3;
  font-weight: bold;
}
#post .post-copyright .post-copyright-meta i {
  margin-right: 3px;
}
#post .post-copyright .post-copyright-info {
  padding-left: 6px;
}
#post .post-copyright .post-copyright-info a {
  text-decoration: underline;
  word-break: break-word;
}
#post .post-copyright .post-copyright-info a:hover {
  text-decoration: none;
}
#post #post-outdate-notice {
  position: relative;
  margin: 0 0 20px;
  padding: 0.5em 1.2em;
  background-color: #ffe6e6;
  color: #f66;
  border-radius: 3px;
}
#post #post-outdate-notice .num {
  padding: 0 4px;
}
#post .ads-wrap {
  margin: 40px 0;
}
.relatedPosts {
  margin-top: 40px;
}
.relatedPosts > .headline {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 1.43em;
}
.relatedPosts > .relatedPosts-list > a {
  margin: 3px;
  width: calc(33.333% - 6px);
  height: 200px;
  border-radius: 6px;
}
@media screen and (max-width: 768px) {
  .relatedPosts > .relatedPosts-list > a {
    margin: 2px;
    width: calc(50% - 4px);
    height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .relatedPosts > .relatedPosts-list > a {
    width: calc(100% - 4px);
  }
}
.relatedPosts > .relatedPosts-list .info .info-1 .info-item-2 {
  -webkit-line-clamp: 2;
}
.relatedPosts > .relatedPosts-list .info .info-2 .info-item-1 {
  -webkit-line-clamp: 3;
}
.post-reward {
  position: relative;
  margin-top: 80px;
  width: 100%;
  text-align: center;
  pointer-events: none;
}
.post-reward > * {
  pointer-events: auto;
}
.post-reward .reward-button {
  display: inline-block;
  padding: 4px 24px;
  background: var(--btn-bg);
  color: var(--btn-color);
  cursor: pointer;
  border-radius: 6px;
}
.post-reward .reward-button i {
  margin-right: 5px;
  vertical-align: baseline;
}
.post-reward:hover .reward-button {
  background: var(--btn-hover-color);
}
.post-reward:hover > .reward-main {
  display: block;
}
.post-reward .reward-main {
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 100;
  display: none;
  padding: 0 0 15px;
  width: 100%;
}
.post-reward .reward-main .reward-all {
  display: inline-block;
  margin: 0;
  padding: 20px 10px;
  background: var(--reward-pop);
  border-radius: 6px;
}
.post-reward .reward-main .reward-all:before {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
}
.post-reward .reward-main .reward-all:after {
  position: absolute;
  right: 0;
  bottom: 2px;
  left: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 13px solid var(--reward-pop);
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  content: '';
}
.post-reward .reward-main .reward-all .reward-item {
  display: inline-block;
  padding: 0 8px;
  list-style-type: none;
  vertical-align: top;
}
.post-reward .reward-main .reward-all .reward-item img {
  width: 130px;
  height: 130px;
}
.post-reward .reward-main .reward-all .reward-item .post-qr-code-desc {
  width: 130px;
  color: #858585;
}
