.note {
  position: relative;
  margin: 0 0 20px;
  padding: 15px;
  border-radius: 3px;
}
.note.icon-padding {
  padding-left: 3em;
}
.note > .note-icon {
  position: absolute;
  top: calc(50% - 0.5em);
  left: 0.8em;
  font-size: larger;
}
.note.blue:not(.disabled) {
  border-left-color: var(--tags-blue-color) !important;
}
.note.blue:not(.disabled).modern {
  border-left-color: transparent !important;
  color: var(--tags-blue-color);
}
.note.blue:not(.disabled):not(.simple) {
  background: var(--tags-blue-color-lighten);
}
.note.blue > .note-icon {
  color: var(--tags-blue-color);
}
.note.pink:not(.disabled) {
  border-left-color: var(--tags-pink-color) !important;
}
.note.pink:not(.disabled).modern {
  border-left-color: transparent !important;
  color: var(--tags-pink-color);
}
.note.pink:not(.disabled):not(.simple) {
  background: var(--tags-pink-color-lighten);
}
.note.pink > .note-icon {
  color: var(--tags-pink-color);
}
.note.red:not(.disabled) {
  border-left-color: var(--tags-red-color) !important;
}
.note.red:not(.disabled).modern {
  border-left-color: transparent !important;
  color: var(--tags-red-color);
}
.note.red:not(.disabled):not(.simple) {
  background: var(--tags-red-color-lighten);
}
.note.red > .note-icon {
  color: var(--tags-red-color);
}
.note.purple:not(.disabled) {
  border-left-color: var(--tags-purple-color) !important;
}
.note.purple:not(.disabled).modern {
  border-left-color: transparent !important;
  color: var(--tags-purple-color);
}
.note.purple:not(.disabled):not(.simple) {
  background: var(--tags-purple-color-lighten);
}
.note.purple > .note-icon {
  color: var(--tags-purple-color);
}
.note.orange:not(.disabled) {
  border-left-color: var(--tags-orange-color) !important;
}
.note.orange:not(.disabled).modern {
  border-left-color: transparent !important;
  color: var(--tags-orange-color);
}
.note.orange:not(.disabled):not(.simple) {
  background: var(--tags-orange-color-lighten);
}
.note.orange > .note-icon {
  color: var(--tags-orange-color);
}
.note.green:not(.disabled) {
  border-left-color: var(--tags-green-color) !important;
}
.note.green:not(.disabled).modern {
  border-left-color: transparent !important;
  color: var(--tags-green-color);
}
.note.green:not(.disabled):not(.simple) {
  background: var(--tags-green-color-lighten);
}
.note.green > .note-icon {
  color: var(--tags-green-color);
}
.note.simple {
  border: 1px solid var(--note-default-border);
  border-left-width: 5px;
}
.note.modern {
  border: 1px solid transparent !important;
  background-color: var(--note-modern-default-bg);
  color: var(--note-modern-default-text);
}
.note.flat {
  border: initial;
  border-left: 5px solid var(--note-default-border);
  background-color: var(--note-default-bg);
  color: var(--note-default-text);
}
.note h2,
.note h3,
.note h4,
.note h5,
.note h6 {
  margin-top: 3px;
  margin-bottom: 0;
  padding-top: 0 !important;
  border-bottom: initial;
}
.note p:first-child,
.note ul:first-child,
.note ol:first-child,
.note table:first-child,
.note pre:first-child,
.note blockquote:first-child,
.note img:first-child {
  margin-top: 0 !important;
}
.note p:last-child,
.note ul:last-child,
.note ol:last-child,
.note table:last-child,
.note pre:last-child,
.note blockquote:last-child,
.note img:last-child {
  margin-bottom: 0 !important;
}
.note .img-alt {
  margin: 5px 0 10px;
}
.note:not(.no-icon) {
  padding-left: 3em;
}
.note:not(.no-icon)::before {
  position: absolute;
  top: calc(50% - 0.95em);
  left: 0.8em;
  font-size: larger;
}
.note.default.flat {
  background: var(--note-default-bg);
  color: var(--font-color);
}
.note.default.modern {
  border-color: var(--note-modern-default-border) !important;
  background: var(--note-modern-default-bg);
  color: var(--note-modern-default-text);
}
.note.default.modern a:not(.btn) {
  color: var(--note-modern-default-text);
}
.note.default.modern a:not(.btn):hover {
  color: var(--note-modern-default-hover);
}
.note.default:not(.modern) {
  border-left-color: var(--note-default-border);
}
.note.default:not(.modern) h2,
.note.default:not(.modern) h3,
.note.default:not(.modern) h4,
.note.default:not(.modern) h5,
.note.default:not(.modern) h6 {
  color: var(--note-default-text);
}
.note.default:not(.no-icon)::before {
  content: '\f0a9';
}
.note.default:not(.no-icon):not(.modern)::before {
  color: var(--note-default-text);
}
.note.primary.flat {
  background: var(--note-primary-bg);
  color: var(--font-color);
}
.note.primary.modern {
  border-color: var(--note-modern-primary-border) !important;
  background: var(--note-modern-primary-bg);
  color: var(--note-modern-primary-text);
}
.note.primary.modern a:not(.btn) {
  color: var(--note-modern-primary-text);
}
.note.primary.modern a:not(.btn):hover {
  color: var(--note-modern-primary-hover);
}
.note.primary:not(.modern) {
  border-left-color: var(--note-primary-border);
}
.note.primary:not(.modern) h2,
.note.primary:not(.modern) h3,
.note.primary:not(.modern) h4,
.note.primary:not(.modern) h5,
.note.primary:not(.modern) h6 {
  color: var(--note-primary-text);
}
.note.primary:not(.no-icon)::before {
  content: '\f055';
}
.note.primary:not(.no-icon):not(.modern)::before {
  color: var(--note-primary-text);
}
.note.info.flat {
  background: var(--note-info-bg);
  color: var(--font-color);
}
.note.info.modern {
  border-color: var(--note-modern-info-border) !important;
  background: var(--note-modern-info-bg);
  color: var(--note-modern-info-text);
}
.note.info.modern a:not(.btn) {
  color: var(--note-modern-info-text);
}
.note.info.modern a:not(.btn):hover {
  color: var(--note-modern-info-hover);
}
.note.info:not(.modern) {
  border-left-color: var(--note-info-border);
}
.note.info:not(.modern) h2,
.note.info:not(.modern) h3,
.note.info:not(.modern) h4,
.note.info:not(.modern) h5,
.note.info:not(.modern) h6 {
  color: var(--note-info-text);
}
.note.info:not(.no-icon)::before {
  content: '\f05a';
}
.note.info:not(.no-icon):not(.modern)::before {
  color: var(--note-info-text);
}
.note.success.flat {
  background: var(--note-success-bg);
  color: var(--font-color);
}
.note.success.modern {
  border-color: var(--note-modern-success-border) !important;
  background: var(--note-modern-success-bg);
  color: var(--note-modern-success-text);
}
.note.success.modern a:not(.btn) {
  color: var(--note-modern-success-text);
}
.note.success.modern a:not(.btn):hover {
  color: var(--note-modern-success-hover);
}
.note.success:not(.modern) {
  border-left-color: var(--note-success-border);
}
.note.success:not(.modern) h2,
.note.success:not(.modern) h3,
.note.success:not(.modern) h4,
.note.success:not(.modern) h5,
.note.success:not(.modern) h6 {
  color: var(--note-success-text);
}
.note.success:not(.no-icon)::before {
  content: '\f058';
}
.note.success:not(.no-icon):not(.modern)::before {
  color: var(--note-success-text);
}
.note.warning.flat {
  background: var(--note-warning-bg);
  color: var(--font-color);
}
.note.warning.modern {
  border-color: var(--note-modern-warning-border) !important;
  background: var(--note-modern-warning-bg);
  color: var(--note-modern-warning-text);
}
.note.warning.modern a:not(.btn) {
  color: var(--note-modern-warning-text);
}
.note.warning.modern a:not(.btn):hover {
  color: var(--note-modern-warning-hover);
}
.note.warning:not(.modern) {
  border-left-color: var(--note-warning-border);
}
.note.warning:not(.modern) h2,
.note.warning:not(.modern) h3,
.note.warning:not(.modern) h4,
.note.warning:not(.modern) h5,
.note.warning:not(.modern) h6 {
  color: var(--note-warning-text);
}
.note.warning:not(.no-icon)::before {
  content: '\f06a';
}
.note.warning:not(.no-icon):not(.modern)::before {
  color: var(--note-warning-text);
}
.note.danger.flat {
  background: var(--note-danger-bg);
  color: var(--font-color);
}
.note.danger.modern {
  border-color: var(--note-modern-danger-border) !important;
  background: var(--note-modern-danger-bg);
  color: var(--note-modern-danger-text);
}
.note.danger.modern a:not(.btn) {
  color: var(--note-modern-danger-text);
}
.note.danger.modern a:not(.btn):hover {
  color: var(--note-modern-danger-hover);
}
.note.danger:not(.modern) {
  border-left-color: var(--note-danger-border);
}
.note.danger:not(.modern) h2,
.note.danger:not(.modern) h3,
.note.danger:not(.modern) h4,
.note.danger:not(.modern) h5,
.note.danger:not(.modern) h6 {
  color: var(--note-danger-text);
}
.note.danger:not(.no-icon)::before {
  content: '\f056';
}
.note.danger:not(.no-icon):not(.modern)::before {
  color: var(--note-danger-text);
}
.container .series-items a:hover {
  color: var(--pseudo-hover);
}
