/* Hide/note/gallery/tabs/timeline and tag-plugin visuals | lines 6358-7051 */
.hide-inline > .hide-button,
.hide-block > .hide-button {
  display: inline-block;
  padding: 5px 18px;
  background: #228ec3;
  color: var(--white);
  border-radius: 6px;
}
.hide-inline > .hide-button:hover,
.hide-block > .hide-button:hover {
  background-color: var(--btn-hover-color);
}
.hide-inline > .hide-button.open,
.hide-block > .hide-button.open {
  display: none;
}
.hide-inline > .hide-button.open + div,
.hide-block > .hide-button.open + div {
  display: block;
}
.hide-inline > .hide-button.open + span,
.hide-block > .hide-button.open + span {
  display: inline;
}
.hide-inline > .hide-content,
.hide-block > .hide-content {
  display: none;
}
.hide-inline > .hide-button {
  margin: 0 6px;
}
.hide-inline > .hide-content {
  margin: 0 6px;
}
.hide-block {
  margin: 0 0 16px;
}
.toggle {
  margin-bottom: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}
.toggle > .toggle-content {
  margin: 30px 24px;
}
.toggle > .toggle-button {
  padding: 6px 15px;
  background: #f0f0f0;
  color: #1f2d3d;
  list-style: none;
  cursor: pointer;
}
.toggle > .toggle-button::-webkit-details-marker {
  display: none;
}
.toggle > .toggle-button::before {
  margin-right: 8px;
  content: '\f0d7';
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease;
  transition: transform 0.3s ease;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}
.toggle[open] summary::before {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.container .inline-img {
  display: inline;
  margin: 0 3px;
  height: 1.1em;
  vertical-align: text-bottom;
}

