@use '../_shared.scss' as shared;

/* Hide tag plugin */
.hide-inline,
.hide-block {
  > .hide-button {
    display: inline-block;
    padding: 5px 18px;
    background: #228ec3;
    color: var(--white);
    border-radius: 6px;

    &:hover {
      background-color: var(--btn-hover-color);
    }

    &.open {
      display: none;

      + div {
        display: block;
      }

      + span {
        display: inline;
      }
    }
  }

  > .hide-content {
    display: none;
  }
}

.hide-inline {
  > .hide-button,
  > .hide-content {
    margin: 0 6px;
  }
}

.hide-block {
  margin: 0 0 16px;
}

/* Details toggle tag plugin */
.toggle {
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;

  > .toggle-content {
    margin: 30px 24px;
  }

  > .toggle-button {
    padding: 6px 15px;
    background: #f0f0f0;
    color: #1f2d3d;
    list-style: none;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      margin-right: 8px;
      content: '\f0d7';
      transition: transform shared.$transition-default ease;
      transform: rotate(-90deg);
      transform-origin: center center;
    }
  }

  &[open] summary::before {
    transform: rotate(0);
  }
}

.container .inline-img {
  display: inline;
  margin: 0 3px;
  height: 1.1em;
  vertical-align: text-bottom;
}
